@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #4338CA;
  --secondary-color: #F59E0B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #3d3b3b;
    --primary-color: #2a93ad;
    --secondary-color: #FACC15;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

a {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}
